* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #202037;
}
.container {
    gap: 50px;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#notes-list {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

#notes-list li {
    background-color: #414170;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
}

#notes-list li a {
    color: #ffffff;
    text-decoration: none;
}

#notes-list li:hover {
    background-color: #6666a5;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
    
.logo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.logo:hover {
    cursor: pointer;
    transition: background-color 0.4s ease;
}
    
.exit-button {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: #b10c0c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.exit-button:hover {
    background-color: #ff1515;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.back-button {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: #414170;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.back-button:hover {
    background-color: #6666a5;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    width: 50%;
}

#note-name {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#note-content {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note-button {
    width: 100%;
    height: 50px;
    /* background-color: #414170; */
    background-color: #168824;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.note-button:hover {
    /* background-color: #6666a5; */
    background-color: rgb(35, 168, 49);
    cursor: pointer;
    transition: background-color 0.4s ease;
}

    